<!DOCTYPE html>
<html>
<head>
  <title>Expenses App</title>
</head>
<body>

<h1 style="color: #B00100; margin: 0 auto">Expenses app</h1> <br/>
<p>With this application, users can calculate their expenses </p>

</body>
</html>

<%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'btn btn-primary'  %>